body{
    background-color: #FAF39F;
    background-image: linear-gradient(#FAF39F, white);   
}

.authentication-bg, #sidebar-menu{
    background-color: #FAF39F;
    background-image: linear-gradient(#FAF39F, white);
}

.form-control{
    padding: 15px;
}

.form-label {
    font-size: 16px;
}

.authentication-bg .auth-logo .logo {
    margin: 0;
}

.login_img img {
    border-radius: var(--bs-border-radius-xl) 0 0 var(--bs-border-radius-xl);
    height: 100%;
    object-fit: cover;
}

.authentication-bg .card{
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.btn.btn-primary{
    background-color: #c6c06f;
    border-color: #c6c06f;
    color: #ffffff;
    padding: 15px;
}

.btn.btn_back{
    background-color: #c6c06f;
    border-color: #c6c06f;
    color: #ffffff;
    padding: 15px;
}

h5.text-primary{
    color: #000!important;
}

.form-control:focus {
    border-color: #FAF39F;
}

h4 span{
    font-size: 40px;
}

.navbar-brand-box{
    background-color: #FAF39F;
}

#page-topbar{
    background-color: #FAF39F;
    box-shadow: none;
}

.form-control:disabled {
    background-color: #e9ecef;
}

.form-check-input:checked {
  background-color: #d9cd45;
  border-color: #d9cd45;
}

#sidebar-menu ul li a{
  color: #495057;
}

.avatar-upload {
    position: relative;
    max-width: 170px;

  }

  .avatar-upload.caretaker_dp .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    bottom:13px;
  }

  .avatar-upload .avatar-edit {
    position: static;
    right: 12px;
    z-index: 1;
    bottom:13px;
  }

  .avatar-upload .avatar-edit input {
    display: none;
  }

  .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width:100%;
    height: 100%;
    line-height: 45px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 6px;
    background: #c6c06f;
    color: #fff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload.caretaker_dp .avatar-edit input + label {
    display: inline-block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
  }

  .avatar-upload .avatar-edit input + label:hover {
    background: #b8b263;
    border-color: #d6d6d6;
  }

  .avatar-upload.caretaker_dp .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
  }

  /* .avatar-upload .avatar-edit input + label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
  } */

  .avatar-upload .avatar-preview {
    width: 486px;
    height: 500px;
    position: relative;
    border-radius: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .avatar-upload .avatar-preview > div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .caretaker_dp.avatar-upload .avatar-preview{
    width: 150px;
    height: 150px;
  }
  
  #sidebar-menu ul li a {
    padding: 1.1rem 1.1rem;
}

#sidebar-menu ul li a i{
  font-size: 20px;
}

.nav.nav-tabs .nav-link.active{
background-color: #FAF39F !important;
}

.breadcrumb-item+.breadcrumb-item::before{
  content: none;
}

.cat_details_table .uil{
  font-size: 24px;
  color: #000;
}

.journal_page .nav-pills .nav-link{
padding: 15px;
border-radius: 0;
background-color: #f2f2f2;
}

.journal_page .nav-pills .nav-link.active{
  padding: 15px;
  border-radius: 0;
  color: #ffffff;
  background-color: #c6c06f;
  }

.fc-event-container{
  visibility: hidden;
}

.bs-example-modal-xl .nav-tabs .nav-link{
padding: 15px;
background-color: #f2f2f2;
margin-right: 10px;
}

.nav-link:focus, .nav-link:hover {
  color:#c6c06f;
}

.data_count .card{
  min-height: 147px;
}

.breadcrumb-item+.breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
}

.breadcrumb-item+.breadcrumb-item{
  padding-left: 0;
}

.data_active{
  background-color: #1fbd15!important;
  color: #ffffff!important;
}

.data_none{
  background-color: #e52310!important;
  color: #ffffff!important;
}

.nodata_warpper {
  height: 100%;
  text-align: center;
  margin-top: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nodata_warpper h5{
  font-size: 15px;
  color: #a19a9a;
  font-weight: 300;
  margin-top: 5px;
}

.forms_list img{
  border: 2px solid #ccc;
  border-radius: 6px;

}

.clor_box{
  height: 40px;
  width: 70px;
  background-color: #bd496f;
  display: inline-block;
}

.avatar-edit .uil.uil-pen{
  color: #000;
}

.form-check-input{
  height: 1.5em;
  width: 1.5em;
}


label.form-check-label {
  margin-left: 12px;
}

.edit_button {
  padding: 20px;
}

/* Jisha Styles Start */
.fc-button-primary{
  background-color: #c6c06f !important;
  border-color: #c6c06f !important;
  color: #ffffff !important;
  padding: 15px !important;
  text-transform: capitalize !important;
}

.form-check-input:disabled~.form-check-label, .form-check-input[disabled]~.form-check-label {
  opacity: 1 !important;
}
.fc-event-time,.fc-event-title{
  color: white !important;
  font-size: 14px !important;
  font-weight: 700 !important;
}
.fc-event{
  background-color: #e52310;
}
option:disabled {
  color: red;
}
.date-picker{
width: 80% !important;
}

.fc-timegrid-slot { 
  height: 60px !important; 
}

.date-highlight {
  background: #caffca !important;
}
.fc .fc-bg-event{
  opacity: 1 !important;
}
.scheduled{
  background: #caffca !important;
}
.fully-booked{
  background: #f9a8a8 !important;
}
.fc-daygrid-day-number{
  font-size: 16px !important;
  color: black !important;
}
.fc-col-header-cell-cushion {
    color: black !important;
    font-size: 16px !important;
}
.fc .fc-toolbar h2 {
  font-size: 28px;
}
.fc-daygrid-bg-harness:has(.scheduled) {
  background:  #caffca !important;
}

.fc-daygrid-bg-harness:has(.fully-booked) {
  background: #f9a8a8 !important;
}
.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid #b9b8bf !important;
}
.w-30{
  width: 30% !important;
}
.select2-selection__rendered {
  line-height: 51px !important;
}
.select2-container .select2-selection--single {
  height: 55px !important;
}
.select2-selection__arrow {
  height: 54px !important;
}
.fc-day-today{
background: white !important;
}
.fc-bg-event{
  font-weight: 700 !important;
}

.hide{
  display: none !important;
}

.opacity-0{
  opacity: 0 !important;
}
.appointment-red{
  background:#f9a8a8 !important;
}
.appointment-green{
  background:#caffca  !important;
}
.app-disabled{
  pointer-events: none !important;
}
.readonly{
  pointer-events: none !important;
  background-color: #f1f1f1 !important;
}
.fc-custom-toolbar{
  margin-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fc-button-group-custom{
  display: inline-flex;
    vertical-align: middle;
}
.fc-prev-button-custom{
  border: 1px solid transparent;
  border-radius: 0.25em;
  padding: 15px !important;
}
.fc-icon-custom{
  vertical-align: middle;
  font-size: 1.5em;
}
.fc-next-button-custom{
  border: 1px solid transparent;
    border-radius: 0.25em;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.vet-name{
  font-size: 16px !important;
}
table td.highlighted {
  background-color:#999;
}
.w-80 {
  width: 80%!important;
}
.w-60 {
  width: 60%!important;
}
.w-70 {
  width: 70%!important;
}
.w-90 {
  width: 90%!important;
}
.required{
  color: red !important;
}
.image-upload-label{
  width: 55px !important;
  height: 55px !important;
  line-height: 55px !important;
  border-radius: 100% !important;
  background: #FFFFFF !important;
}
.image-edit{
  position: absolute !important;
}
.cat-avatar-upload{
  max-width: 485px !important;
}
.green{
  color: #1aa11a !important;
}
.f-20{
    font-size: 20px !important;
    font-weight: 700 !important;
}
.w-100{
  width: 100% !important;
}
.h-800{
  max-height: 800px !important;
}
.w-40{
  width: 40% !important;
}
/* Jisha Styles End*/

